*, 
*::after, 
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: row;
}

.first-block{
    background-color: blue;
    width: 100vw;
    height: 10vh;
}

.fifth-block{
    background-color: orange;
    height: 80vh;
    width: 20vw;
}

.fourth-block{
    width: 60vw;
    height: 80vh;
}

.second-block{
    background-color: orange;
    height: 80vh;
    width: 20vw;
}

.third-block{
    background-color: blue;
    width: 100vw;
    height: 10vh;
}


.first-block:hover{
    outline: 2px solid;
}
.fifth-block:hover{
    outline: 2px solid;
}
.fourth-block:hover{
    outline: 2px solid;
}
.second-block:hover{
    outline: 2px solid;
}
.third-block:hover{
    outline: 2px solid;
}